{% extends "base.html" %}

{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


  <div class="mybg1 text-center">
    <h1>Hi This is the contact page!</h1>
    <br>
    <h2>{{content}}</h2>

  </div>
  <hr>
  <br>
  <div class="container">
      <div class="row">
        <div class="col">
          <div class="col-sm-6 col-12">
            <form class="form-control"  method="post" name="my_form">
              {% csrf_token %}
              {# {{form}}#}
              {% bootstrap_form form %}
              <br>

              <input type="submit" class="btn btn-warning" name="submit" value="Submit">
            </form>

          </div>

        </div>

      </div>
  </div>
{% endblock %}
